<robot name="root">
  <link name="link_original">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="hammer.stl" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="4.18E-05" ixy="-1.97E-05" ixz="1.45E-10" iyy="5.99E-04" iyz="9.50E-12" izz="6.31E-04"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd_allinone.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_original"/>
</robot>
